* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#enter-messenger-from {
   padding: 20px;
   
}
#enter-messenger-from.hide {
  display: none;
}
.messenger-wrapper {
    display: none;
    justify-content: flex-start;
    width: 100%;
    
}
.messenger-wrapper.visible {
    display: flex;
    
}
.active-users {
    width: 200px;
}

.messenger-body {
    width: 100%;
    
}
.messages {
   margin-bottom: 20px;
   
}
.messages .message-item {
   padding: 10px;
   
}
#message-input {

}
.button {
    padding: 15px 25px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: palevioletred;
    border: none;
    border-radius: 15px;
    
}
  
  .button:hover {background-color: #931a97}
  
  .button:active {
    background-color: palevioletred;
    
    transform: translateY(4px);
}
#message-input{
    width: 500px;
    height: 200px;
    background-color: rgb(198, 226, 238);
    border-radius: 10px;
}
#enter-messenger-input{
    width: 500px;
    height: 80px;
    background-color: rgb(198, 226, 238);
    border-radius: 10px;
}
.container{
    display: flex;
    justify-content: center;
}
#enter-messenger-from{
    display: flex;
    flex-direction: column;
    
}
.input_cont button{
    width: 80px;
}
.input_cont{
    display: flex;
    flex-direction: column;
}